In [1]:
import pandas as pd
from statsmodels.tsa.arima.model import ARIMA
from matplotlib import pyplot
from datetime import datetime
import warnings
warnings.filterwarnings("ignore")
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import numpy as np
from sklearn.metrics import mean_squared_error, r2_score


from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LinearRegression

In [2]:
DataFrame = pd.read_csv('../Data.csv')

In [3]:
QB = DataFrame[DataFrame['Position'] == 'QB']

In [4]:
QB = QB.drop(columns = ['Week','Position','Game','Unnamed: 0'])

In [5]:
QB = QB.drop(columns = ['Receptions', 'Receiving Yards','Receiving TDs'])

In [6]:
QB

,Name,Year,Fantasy Points,PassingYards,PassingTDs,Ints,Rush Attempts,Rush Yards,Fumbles,RushTDs
0,Lamar Jackson,2019,42.0,324.0,5.0,0,3,6,0,0
1,Dak Prescott,2019,41.0,405.0,4.0,0,4,12,0,0
2,Deshaun Watson,2019,36.0,268.0,3.0,1,4,40,0,1
3,Matthew Stafford,2019,34.0,385.0,3.0,0,3,22,1,0
4,Case Keenum,2019,33.0,380.0,3.0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
3193,Jalen Hurts,2023,0.0,55.0,0.0,1,2,4,0,0
3194,A.J. McCarron,2023,0.0,20.0,0.0,0,0,0,0,0
3195,Clayton Tune,2023,0.0,0.0,0.0,0,1,1,0,0
3196,Bailey Zappe,2023,0.0,88.0,0.0,2,3,13,0,0
3197,Logan Woodside,2023,-1.0,27.0,0.0,1,1,6,0,0

In [7]:
QB = QB.groupby(['Name','Year']).sum()

In [8]:
QB.reset_index(inplace=True)
QB.set_index('Year', inplace = True)
QB.index = pd.to_datetime(QB.index, format='%Y')

In [9]:
QB

,Name,Fantasy Points,PassingYards,PassingTDs,Ints,Rush Attempts,Rush Yards,Fumbles,RushTDs
Year,,,,,,,,,
2019-01-01,A.J. McCarron,16.0,225.0,0.0,1,5,39,0,1
2020-01-01,A.J. McCarron,0.0,20.0,0.0,0,0,0,0,0
2023-01-01,A.J. McCarron,0.0,19.0,0.0,0,0,0,0,0
2019-01-01,Aaron Rodgers,322.0,4002.0,26.0,4,46,183,4,1
2020-01-01,Aaron Rodgers,469.0,4299.0,48.0,5,38,149,2,3
...,...,...,...,...,...,...,...,...,...
2019-01-01,Will Grier,0.0,228.0,0.0,4,7,22,1,0
2023-01-01,Will Levis,115.0,1808.0,8.0,4,25,57,4,1
2021-01-01,Zach Wilson,163.0,2334.0,9.0,11,29,185,1,4
2022-01-01,Zach Wilson,105.0,1688.0,6.0,7,28,102,1,1
2023-01-01,Zach Wilson,132.0,2271.0,8.0,7,36,211,7,0

In [15]:
QB

,Name,Fantasy Points,PassingYards,PassingTDs,Ints,Rush Attempts,Rush Yards,Fumbles,RushTDs
Year,,,,,,,,,
2019-01-01,A.J. McCarron,16.0,225.0,0.0,1,5,39,0,1
2020-01-01,A.J. McCarron,0.0,20.0,0.0,0,0,0,0,0
2023-01-01,A.J. McCarron,0.0,19.0,0.0,0,0,0,0,0
2019-01-01,Aaron Rodgers,322.0,4002.0,26.0,4,46,183,4,1
2020-01-01,Aaron Rodgers,469.0,4299.0,48.0,5,38,149,2,3
...,...,...,...,...,...,...,...,...,...
2019-01-01,Will Grier,0.0,228.0,0.0,4,7,22,1,0
2023-01-01,Will Levis,115.0,1808.0,8.0,4,25,57,4,1
2021-01-01,Zach Wilson,163.0,2334.0,9.0,11,29,185,1,4
2022-01-01,Zach Wilson,105.0,1688.0,6.0,7,28,102,1,1
2023-01-01,Zach Wilson,132.0,2271.0,8.0,7,36,211,7,0

In [16]:
X = QB.drop(['Fantasy Points'], axis=1)
y = QB['Fantasy Points']


numeric_features = ['PassingTDs']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), numeric_features),
 
    ]
)
pipeline = Pipeline([
    ('preprocessor', preprocessor),
    ('regressor', LinearRegression())
])


X_train_subset = X_train[X_train.index.year < 2022]
y_train_subset = y_train[y_train.index.year < 2022]
pipeline.fit(X_train_subset, y_train_subset)


X_test_subset = X_test[X_test.index.year == 2022]
y_test_subset = y_test[y_test.index.year == 2022]
y_pred = pipeline.predict(X_test_subset)

mse = mean_squared_error(y_test_subset, y_pred)
r2 = r2_score(y_test_subset, y_pred)

print(f"Mean Squared Error: {mse}")
print(f"R-squared: {r2}")

Mean Squared Error: 355.5670208997699
R-squared: 0.9728684769074696

In [17]:
X = QB.drop(['Fantasy Points'], axis=1)
y = QB['Fantasy Points']


numeric_features = ['PassingTDs']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), numeric_features),
 
    ]
)
pipeline = Pipeline([
    ('preprocessor', preprocessor),
    ('regressor', LinearRegression())
])

X_train_subset = X_train[X_train.index.year < 2023]
y_train_subset = y_train[y_train.index.year < 2023]
pipeline.fit(X_train_subset, y_train_subset)


X_test_subset = X_test[X_test.index.year == 2023]
y_test_subset = y_test[y_test.index.year == 2023]
y_pred = pipeline.predict(X_test_subset)

mse = mean_squared_error(y_test_subset, y_pred)
r2 = r2_score(y_test_subset, y_pred)

print(f"Mean Squared Error: {mse}")
print(f"R-squared: {r2}")

Mean Squared Error: 871.4454749846559
R-squared: 0.9337078797727423

In [18]:
features = ['PassingYards']
target_variable = 'PassingTDs'

In [19]:
predictions_2024 = {}

players = QB['Name'].unique()

for player in players:
    player_data = QB[QB['Name'] == player]
    time_series = player_data[features + [target_variable]]
    
    try:
        # Fit an ARIMA model
        model = ARIMA(time_series[target_variable], order=(1, 0, 1))  # Adjust the order as needed
        arima_result = model.fit()
        
        # Predict Fantasy Points for 2024
        start_date_2024 = datetime(2024, 1, 1)
        end_date_2024 = datetime(2024, 12, 31)
        y_pred_2024 = arima_result.predict(start=start_date_2024, end=end_date_2024, dynamic=False)
        
        # Store predictions in the dictionary
        predictions_2024[player] = y_pred_2024.values[-1]  # Only store the prediction for 2024
        
        
        
    except Exception as e:
        continue

In [20]:
predictions_2024

{'Aaron Rodgers': 22.91761937051345,
 'Andy Dalton': 3.5997760511667565,
 'Baker Mayfield': 19.73161521569008,
 'Ben Roethlisberger': 22.146337721531424,
 'Blaine Gabbert': 0.009918797706637617,
 'Brandon Allen': 2.2816922424558412,
 'Brett Rypien': 6.770807359224307e-08,
 'Brian Hoyer': 0.7518355078701652,
 'C.J. Beathard': 1.2041686926261115,
 'Cam Newton': 4.84842176413109,
 'Carson Wentz': 16.499309295135898,
 'Case Keenum': 1.8390204508989159,
 'Chad Henne': 0.6163963240473662,
 'Chase Daniel': 1.4999861939329657,
 'Chris Streveler': 0.3082110404461854,
 'Colt McCoy': 1.3803728541628622,
 'Cooper Rush': 1.2288089463592662,
 'Dak Prescott': 33.69214908252157,
 'Daniel Jones': 8.126366843127887,
 'David Blough': 1.0063990469142068,
 'Davis Mills': 10.004672692474259,
 'Derek Carr': 24.84247192385446,
 'Gardner Minshew': 14.229105319965615,
 'Garrett Gilbert': 5.2199355765059074e-06,
 'Geno Smith': 14.410679907696155,
 'Jacoby Brissett': 5.3467971290978165,
 'Jalen Hurts': 18.317601164580985,
 'Jameis Winston': 2.513932870840696,
 'Jared Goff': 23.735480341747685,
 'Jimmy Garoppolo': 6.923868968907492,
 'Joe Burrow': 24.62347794611336,
 'Joe Flacco': 5.957206951104565,
 'John Wolford': 0.24610486599240528,
 'Jordan Love': 14.677256319636303,
 'Josh Allen': 32.44174376700837,
 'Justin Fields': 14.828950088383728,
 'Justin Herbert': 28.269619809602048,
 'Kirk Cousins': 27.49266627347526,
 'Kyle Allen': 5.955671731639891,
 'Kyler Murray': 16.149519158936783,
 'Lamar Jackson': 26.956801778130757,
 'Mac Jones': 15.063900846359841,
 'Marcus Mariota': 4.851083871011377,
 'Matt Ryan': 19.15530793575288,
 'Matthew Stafford': 24.54747287536555,
 'Mike Glennon': 4.636321326460689,
 'Mike White': 2.9997618408548203,
 'Mitchell Trubisky': 9.008813276314577,
 'Nathan Peterman': 0.30763089414883166,
 'Nick Foles': 3.87216343357037,
 'Nick Mullens': 4.4045376512617285,
 'Patrick Mahomes': 33.16646568660169,
 'Phillip Walker': 1.6152694768107791,
 'Russell Wilson': 27.199797367584157,
 'Ryan Fitzpatrick': 11.210302599339057,
 'Ryan Tannehill': 14.86823650321742,
 'Sam Darnold': 10.127695260067606,
 'Taylor Heinicke': 8.073590944676065,
 'Teddy Bridgewater': 9.197384749152526,
 'Tim Boyle': 0.9417559281621362,
 'Tom Brady': 31.602919698921806,
 'Trevor Lawrence': 21.490243272321084,
 'Tua Tagovailoa': 24.036580059667514,
 'Tyler Huntley': 2.830354766746155,
 'Tyrod Taylor': 3.200255577276197,
 'Zach Wilson': 7.727222510633418}

In [21]:
Predictions24 = pd.DataFrame(list(predictions_2024.items()), columns=['Name', 'PassingTDs'])

In [22]:
Predictions24

                  Name  PassingTDs
0        Aaron Rodgers   22.917619
1          Andy Dalton    3.599776
2       Baker Mayfield   19.731615
3   Ben Roethlisberger   22.146338
4       Blaine Gabbert    0.009919
..                 ...         ...
61     Trevor Lawrence   21.490243
62      Tua Tagovailoa   24.036580
63       Tyler Huntley    2.830355
64        Tyrod Taylor    3.200256
65         Zach Wilson    7.727223

[66 rows x 2 columns]

In [23]:
Predictions24['Year'] = 2024

In [24]:
Predictions24.reset_index(inplace=True)
Predictions24.set_index('Year', inplace = True)
Predictions24.index = pd.to_datetime(Predictions24.index, format='%Y')
Predictions24.reset_index(inplace=True)
Predictions24.drop(columns = ['index'])

         Year                Name  PassingTDs
0  2024-01-01       Aaron Rodgers   22.917619
1  2024-01-01         Andy Dalton    3.599776
2  2024-01-01      Baker Mayfield   19.731615
3  2024-01-01  Ben Roethlisberger   22.146338
4  2024-01-01      Blaine Gabbert    0.009919
..        ...                 ...         ...
61 2024-01-01     Trevor Lawrence   21.490243
62 2024-01-01      Tua Tagovailoa   24.036580
63 2024-01-01       Tyler Huntley    2.830355
64 2024-01-01        Tyrod Taylor    3.200256
65 2024-01-01         Zach Wilson    7.727223

[66 rows x 3 columns]

In [25]:
QB

,Name,Fantasy Points,PassingYards,PassingTDs,Ints,Rush Attempts,Rush Yards,Fumbles,RushTDs
Year,,,,,,,,,
2019-01-01,A.J. McCarron,16.0,225.0,0.0,1,5,39,0,1
2020-01-01,A.J. McCarron,0.0,20.0,0.0,0,0,0,0,0
2023-01-01,A.J. McCarron,0.0,19.0,0.0,0,0,0,0,0
2019-01-01,Aaron Rodgers,322.0,4002.0,26.0,4,46,183,4,1
2020-01-01,Aaron Rodgers,469.0,4299.0,48.0,5,38,149,2,3
...,...,...,...,...,...,...,...,...,...
2019-01-01,Will Grier,0.0,228.0,0.0,4,7,22,1,0
2023-01-01,Will Levis,115.0,1808.0,8.0,4,25,57,4,1
2021-01-01,Zach Wilson,163.0,2334.0,9.0,11,29,185,1,4
2022-01-01,Zach Wilson,105.0,1688.0,6.0,7,28,102,1,1
2023-01-01,Zach Wilson,132.0,2271.0,8.0,7,36,211,7,0

In [26]:
PassingTDs = QB.drop(columns = ['PassingYards','Ints','Rush Attempts','Rush Yards','Fumbles','RushTDs'])

In [27]:
PassingTDs.reset_index(inplace=True)

In [28]:
PassingTDs

          Year           Name  Fantasy Points  PassingTDs
0   2019-01-01  A.J. McCarron            16.0         0.0
1   2020-01-01  A.J. McCarron             0.0         0.0
2   2023-01-01  A.J. McCarron             0.0         0.0
3   2019-01-01  Aaron Rodgers           322.0        26.0
4   2020-01-01  Aaron Rodgers           469.0        48.0
..         ...            ...             ...         ...
393 2019-01-01     Will Grier             0.0         0.0
394 2023-01-01     Will Levis           115.0         8.0
395 2021-01-01    Zach Wilson           163.0         9.0
396 2022-01-01    Zach Wilson           105.0         6.0
397 2023-01-01    Zach Wilson           132.0         8.0

[398 rows x 4 columns]

In [29]:
concatenated_df = pd.concat([PassingTDs, Predictions24])

In [30]:
concatenated_df

         Year             Name  Fantasy Points  PassingTDs  index
0  2019-01-01    A.J. McCarron            16.0    0.000000    NaN
1  2020-01-01    A.J. McCarron             0.0    0.000000    NaN
2  2023-01-01    A.J. McCarron             0.0    0.000000    NaN
3  2019-01-01    Aaron Rodgers           322.0   26.000000    NaN
4  2020-01-01    Aaron Rodgers           469.0   48.000000    NaN
..        ...              ...             ...         ...    ...
61 2024-01-01  Trevor Lawrence             NaN   21.490243   61.0
62 2024-01-01   Tua Tagovailoa             NaN   24.036580   62.0
63 2024-01-01    Tyler Huntley             NaN    2.830355   63.0
64 2024-01-01     Tyrod Taylor             NaN    3.200256   64.0
65 2024-01-01      Zach Wilson             NaN    7.727223   65.0

[464 rows x 5 columns]

In [31]:
PassingTDs = concatenated_df.sort_values(by=['Name','Year'], ascending=True)

In [32]:
PassingTDs

          Year           Name  Fantasy Points  PassingTDs  index
0   2019-01-01  A.J. McCarron            16.0    0.000000    NaN
1   2020-01-01  A.J. McCarron             0.0    0.000000    NaN
2   2023-01-01  A.J. McCarron             0.0    0.000000    NaN
3   2019-01-01  Aaron Rodgers           322.0   26.000000    NaN
4   2020-01-01  Aaron Rodgers           469.0   48.000000    NaN
..         ...            ...             ...         ...    ...
394 2023-01-01     Will Levis           115.0    8.000000    NaN
395 2021-01-01    Zach Wilson           163.0    9.000000    NaN
396 2022-01-01    Zach Wilson           105.0    6.000000    NaN
397 2023-01-01    Zach Wilson           132.0    8.000000    NaN
65  2024-01-01    Zach Wilson             NaN    7.727223   65.0

[464 rows x 5 columns]

In [33]:
PassingTDs = PassingTDs.drop(columns = ['index'])

In [34]:
PassingTDs

          Year           Name  Fantasy Points  PassingTDs
0   2019-01-01  A.J. McCarron            16.0    0.000000
1   2020-01-01  A.J. McCarron             0.0    0.000000
2   2023-01-01  A.J. McCarron             0.0    0.000000
3   2019-01-01  Aaron Rodgers           322.0   26.000000
4   2020-01-01  Aaron Rodgers           469.0   48.000000
..         ...            ...             ...         ...
394 2023-01-01     Will Levis           115.0    8.000000
395 2021-01-01    Zach Wilson           163.0    9.000000
396 2022-01-01    Zach Wilson           105.0    6.000000
397 2023-01-01    Zach Wilson           132.0    8.000000
65  2024-01-01    Zach Wilson             NaN    7.727223

[464 rows x 4 columns]

In [35]:
X = QB.drop(['Fantasy Points'], axis=1)
y = QB['Fantasy Points']


numeric_features = ['PassingTDs']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), numeric_features),
      
    ]
)


pipeline = Pipeline([
    ('preprocessor', preprocessor),
    ('regressor', LinearRegression())
])


X_train_subset = X_train[X_train.index.year < 2023]
y_train_subset = y_train[y_train.index.year < 2023]
pipeline.fit(X_train_subset, y_train_subset)


X_test_subset = X_test[X_test.index.year == 2023]
y_test_subset = y_test[y_test.index.year == 2023]
y_pred = pipeline.predict(X_test_subset)


mse = mean_squared_error(y_test_subset, y_pred)
r2 = r2_score(y_test_subset, y_pred)

print(f"Mean Squared Error: {mse}")
print(f"R-squared: {r2}")

Mean Squared Error: 871.4454749846559
R-squared: 0.9337078797727423

In [36]:
latest_predictions = PassingTDs.groupby('Name')['PassingTDs'].last().reset_index()

# Preprocess the data for prediction
X_2024 = latest_predictions[['PassingTDs']]

# Make predictions for fantasy points in 2024
y_pred_2024 = pipeline.predict(X_2024)

# Combine player names and their corresponding predicted fantasy points
player_predictions = pd.DataFrame({
    'Player': latest_predictions['Name'],
    'Predicted_Fantasy_Points_2024': y_pred_2024.round(2)  # Round predictions to 2 decimal places
})

# Print the predicted fantasy points for 2024

In [37]:
player_predictions

              Player  Predicted_Fantasy_Points_2024
0      A.J. McCarron                          11.74
1      Aaron Rodgers                         277.53
2    Aidan O'Connell                         150.91
3         Alex Smith                          81.32
4        Alex Tanney                          11.74
..               ...                            ...
128     Tyrod Taylor                          48.85
129     Tyson Bagent                          46.53
130       Will Grier                          11.74
131       Will Levis                         104.52
132      Zach Wilson                         101.36

[133 rows x 2 columns]

In [38]:
DataFrame = pd.read_csv('../Data.csv')
QB2 = DataFrame[DataFrame['Position'] == 'QB']
QB2 = QB2.drop(columns = ['Receiving Yards','Receptions','Receiving TDs'])
QB2 = QB2.drop(columns = ['Week','Position','Game','Unnamed: 0'])
QB2 = QB2.groupby(['Name','Year']).sum()
QB2.reset_index(inplace=True)

In [39]:
QB2

,Name,Year,Fantasy Points,PassingYards,PassingTDs,Ints,Rush Attempts,Rush Yards,Fumbles,RushTDs
0,A.J. McCarron,2019,16.0,225.0,0.0,1,5,39,0,1
1,A.J. McCarron,2020,0.0,20.0,0.0,0,0,0,0,0
2,A.J. McCarron,2023,0.0,19.0,0.0,0,0,0,0,0
3,Aaron Rodgers,2019,322.0,4002.0,26.0,4,46,183,4,1
4,Aaron Rodgers,2020,469.0,4299.0,48.0,5,38,149,2,3
...,...,...,...,...,...,...,...,...,...,...
393,Will Grier,2019,0.0,228.0,0.0,4,7,22,1,0
394,Will Levis,2023,115.0,1808.0,8.0,4,25,57,4,1
395,Zach Wilson,2021,163.0,2334.0,9.0,11,29,185,1,4
396,Zach Wilson,2022,105.0,1688.0,6.0,7,28,102,1,1
397,Zach Wilson,2023,132.0,2271.0,8.0,7,36,211,7,0

In [40]:
name_fantasy_dict = {}

# Iterate over the rows of the DataFrame
for index, row in QB2.iterrows():
    name = row['Name']
    year = row['Year']
    fantasy_points = row['Fantasy Points']
    
    if name not in name_fantasy_dict:  # If the player is not already in the dictionary
        name_fantasy_dict[name] = [fantasy_points if y == year else 0 for y in range(2019, 2024)]
    else:
        # If the player is already in the dictionary, update the corresponding value list
        name_fantasy_dict[name][year - 2019] = fantasy_points

# Print the resulting dictionary
print(name_fantasy_dict)

{'A.J. McCarron': [16.0, 0.0, 0, 0, 0.0], 'Aaron Rodgers': [322.0, 469.0, 394.0, 286.0, 0.0], "Aidan O'Connell": [0, 0, 0, 0, 144.0], 'Alex Smith': [0, 79.0, 0, 0, 0], 'Alex Tanney': [0.0, 0, 0, 0, 0], 'Andy Dalton': [232.0, 158.0, 96.0, 204.0, 27.0], 'Anthony Brown': [0, 0, 0, 6.0, 0], 'Anthony Richardson': [0, 0, 0, 0, 76.0], 'Bailey Zappe': [0, 0, 0, 51.0, 76.0], 'Baker Mayfield': [262.0, 288.0, 205.0, 134.0, 319.0], 'Ben DiNucci': [0, 8.0, 0, 0, 0], 'Ben Roethlisberger': [12.0, 326.0, 258.0, 0, 0], 'Blaine Gabbert': [0, 18.0, 1.0, 7.0, 5.0], 'Blake Bortles': [0.0, 0, 0, 0, 0], 'Brandon Allen': [35.0, 56.0, 17.0, 0.0, 0], 'Brett Hundley': [4.0, 0, 0, 0, 0], 'Brett Rypien': [0, 15.0, 0.0, 20.0, 4.0], 'Brian Hoyer': [29.0, 2.0, 14.0, 1.0, 5.0], 'Brock Purdy': [0, 0, 0, 128.0, 347.0], 'Bryce Perkins': [0, 0, 0, 15.0, 0], 'Bryce Young': [0, 0, 0, 0, 170.0], 'C.J. Beathard': [0, 64.0, 1.0, -1.0, 20.0], 'C.J. Stroud': [0, 0, 0, 0, 314.0], 'Cam Newton': [18.0, 258.0, 90.0, 0, 0], 'Carson Wentz': [322.0, 223.0, 304.0, 128.0, 29.0], 'Case Keenum': [125.0, 1.0, 33.0, 0.0, 11.0], 'Chad Henne': [0, 26.0, 3.0, 0.0, 0], 'Chase Daniel': [30.0, 12.0, 0.0, 10.0, 0], 'Chris Streveler': [0, 9.0, 1.0, 8.0, 0], 'Clayton Tune': [0, 0, 0, 0, 7.0], 'Colt McCoy': [3.0, 18.0, 46.0, 31.0, 0], 'Cooper Rush': [0, 0, 30.0, 63.0, 1.0], 'Dak Prescott': [385.0, 152.0, 390.0, 238.0, 402.0], 'Daniel Jones': [263.0, 198.0, 178.0, 308.0, 56.0], 'David Blough': [59.0, 0.0, 0.0, 22.0, 0], 'Davis Mills': [0, 0, 182.0, 208.0, 19.0], 'Davis Webb': [0, 0, 0.0, 22.0, 0], 'Derek Carr': [276.0, 324.0, 294.0, 258.0, 286.0], 'Deshaun Watson': [364.0, 421.0, 0, 96.0, 98.0], 'Desmond Ridder': [0, 0, 0, 38.0, 197.0], 'Devlin Hodges': [57.0, 0, 0, 0, 0], 'Dorian Thompson-Robinson': [0, 0, 0, 0, 21.0], 'Drew Brees': [274.0, 255.0, 0, 0, 0], 'Drew Lock': [79.0, 204.0, 54.0, 0, 33.0], 'Dwayne Haskins': [85.0, 76.0, 0, 0, 0], 'Easton Stick': [0, 0.0, 0, 0, 74.0], 'Eli Manning': [66.0, 0, 0, 0, 0], 'Gardner Minshew': [265.0, 188.0, 40.0, 41.0, 220.0], 'Garrett Gilbert': [0.0, 15.0, 7.0, 0, 0], 'Geno Smith': [0, 1.0, 62.0, 352.0, 262.0], 'Ian Book': [0, 0, 1.0, 0, 0], 'Jacob Eason': [0, 0, -1.0, 0.0, 0], 'Jacoby Brissett': [244.0, 18.0, 78.0, 187.0, 27.0], 'Jake Browning': [0, 0, 0, 0, 163.0], 'Jake Fromm': [0, 0, 13.0, 0, 0], 'Jake Luton': [0, 31.0, 0, 0, 0], 'Jalen Hurts': [0, 113.0, 332.0, 412.0, 393.0], 'Jameis Winston': [365.0, 2.0, 141.0, 49.0, 15.0], 'Jared Goff': [284.0, 275.0, 227.0, 334.0, 344.0], 'Jaren Hall': [0, 0, 0, 0, 2.0], 'Jarrett Stidham': [-2.0, 14.0, 0, 49.0, 28.0], 'Jeff Driskel': [63.0, 34.0, 0, 13.0, 17.0], 'Jimmy Garoppolo': [294.0, 74.0, 260.0, 192.0, 74.0], 'Joe Burrow': [0, 196.0, 372.0, 411.0, 170.0], 'Joe Flacco': [94.0, 64.0, 29.0, 60.0, 125.0], 'John Wolford': [0, 12.0, -2.0, 16.0, 0], 'Jordan Love': [0, 0, 23.0, 12.0, 373.0], 'Josh Allen': [318.0, 461.0, 460.0, 455.0, 438.0], 'Josh Johnson': [0, 0, 54.0, 0.0, 0], 'Josh McCown': [0.0, 0, 0, 0, 0], 'Josh Rosen': [18.0, 0, -4.0, 0, 0], 'Joshua Dobbs': [0, 2.0, 0, 26.0, 223.0], 'Justin Fields': [0, 0, 135.0, 319.0, 250.0], 'Justin Herbert': [0, 384.0, 442.0, 320.0, 265.0], 'Kellen Mond': [0, 0, 0.0, 0, 0], 'Kenny Pickett': [0, 0, 0, 152.0, 114.0], 'Kirk Cousins': [288.0, 370.0, 357.0, 343.0, 184.0], 'Kurt Benkert': [0, 0, 0.0, 0, 0], 'Kyle Allen': [211.0, 50.0, 10.0, 20.0, 0.0], 'Kyle Trask': [0, 0, 0, 0.0, 0.0], 'Kyler Murray': [311.0, 418.0, 335.0, 222.0, 160.0], 'Lamar Jackson': [474.0, 375.0, 262.0, 258.0, 370.0], 'Logan Woodside': [0, 1.0, 0.0, 0, -1.0], 'Luke Falk': [7.0, 0, 0, 0, 0], 'Mac Jones': [0, 0, 261.0, 188.0, 121.0], 'Malik Willis': [0, 0, 0, 16.0, 2.0], 'Marcus Mariota': [94.0, 27.0, 12.0, 218.0, 12.0], 'Mason Rudolph': [128.0, 22.0, 18.0, 0, 44.0], 'Matt Barkley': [7.0, 10.0, 0, 0, 0.0], 'Matt Moore': [49.0, 0, 0, 0, 0], 'Matt Ryan': [311.0, 327.0, 252.0, 181.0, 0], 'Matt Schaub': [39.0, 0.0, 0, 0, 0], 'Matthew Stafford': [201.0, 301.0, 405.0, 126.0, 281.0], 'Mike Glennon': [6.0, 73.0, 36.0, 0, 0], 'Mike White': [0, 0, 53.0, 60.0, 5.0], 'Mitchell Trubisky': [228.0, 180.0, 6.0, 75.0, 53.0], 'Nate Sudfeld': [0, -1.0, 0, 0.0, 0], 'Nathan Peterman': [0, 1.0, 0.0, 9.0, 0.0], 'Nick Foles': [43.0, 119.0, 18.0, 0.0, 0], 'Nick Mullens': [0.0, 138.0, 11.0, 12.0, 77.0], 'Patrick Mahomes': [329.0, 439.0, 428.0, 482.0, 324.0], 'Philip Rivers': [276.0, 281.0, 0, 0, 0], 'Phillip Walker': [0, 9.0, 15.0, 42.0, 21.0], 'Robert Griffin III': [13.0, 2.0, 0, 0, 0], 'Russell Wilson': [379.0, 428.0, 281.0, 242.0, 301.0], 'Ryan Finley': [28.0, 18.0, 0, 0, 0], 'Ryan Fitzpatrick': [269.0, 172.0, 0.0, 0, 0], 'Ryan Griffin': [0.0, 0, 0, 0, 0], 'Ryan Tannehill': [261.0, 395.0, 295.0, 179.0, 82.0], 'Sam Darnold': [221.0, 144.0, 170.0, 98.0, 26.0], 'Sam Ehlinger': [0, 0, 0.0, 40.0, 0], 'Sam Howell': [0, 0, 0, 19.0, 289.0], 'Sean Clifford': [0, 0, 0, 0, 1.0], 'Sean Mannion': [0.0, 0, 14.0, 0, 0], 'Skylar Thompson': [0, 0, 0, 17.0, 0], 'Taylor Heinicke': [0, 13.0, 249.0, 138.0, 73.0], 'Taysom Hill': [91.0, 156.0, 0, 0, 132.0], 'Teddy Bridgewater': [103.0, 262.0, 230.0, 44.0, 0.0], 'Tim Boyle': [0.0, 0.0, 29.0, -3.0, 11.0], 'Tom Brady': [304.0, 408.0, 454.0, 319.0, 0], 'Tommy DeVito': [0, 0, 0, 0, 104.0], 'Trace McSorley': [0.0, 10.0, 0, 6.0, 0], 'Trevor Lawrence': [0, 0, 212.0, 341.0, 299.0], 'Trevor Siemian': [0.0, 0, 108.0, 11.0, 29.0], 'Trey Lance': [0, 0, 71.0, 11.0, 0], 'Tua Tagovailoa': [0, 149.0, 204.0, 272.0, 318.0], 'Tyler Bray': [0, 0.0, 0, 0, 0], 'Tyler Huntley': [0, 1.0, 86.0, 50.0, 28.0], 'Tyrod Taylor': [8.0, 8.0, 87.0, 13.0, 91.0], 'Tyson Bagent': [0, 0, 0, 0, 58.0], 'Will Grier': [0.0, 0, 0, 0, 0], 'Will Levis': [0, 0, 0, 0, 115.0], 'Zach Wilson': [0, 0, 163.0, 105.0, 132.0]}

In [41]:
for index, row in player_predictions.iterrows():
    player = row['Player']
    predicted_points = row['Predicted_Fantasy_Points_2024']
    if player in name_fantasy_dict:
        name_fantasy_dict[player].append(predicted_points)
   

print(name_fantasy_dict)

{'A.J. McCarron': [16.0, 0.0, 0, 0, 0.0, 11.74], 'Aaron Rodgers': [322.0, 469.0, 394.0, 286.0, 0.0, 277.53], "Aidan O'Connell": [0, 0, 0, 0, 144.0, 150.91], 'Alex Smith': [0, 79.0, 0, 0, 0, 81.32], 'Alex Tanney': [0.0, 0, 0, 0, 0, 11.74], 'Andy Dalton': [232.0, 158.0, 96.0, 204.0, 27.0, 53.49], 'Anthony Brown': [0, 0, 0, 6.0, 0, 11.74], 'Anthony Richardson': [0, 0, 0, 0, 76.0, 46.53], 'Bailey Zappe': [0, 0, 0, 51.0, 76.0, 81.32], 'Baker Mayfield': [262.0, 288.0, 205.0, 134.0, 319.0, 240.58], 'Ben DiNucci': [0, 8.0, 0, 0, 0, 11.74], 'Ben Roethlisberger': [12.0, 326.0, 258.0, 0, 0, 268.58], 'Blaine Gabbert': [0, 18.0, 1.0, 7.0, 5.0, 11.85], 'Blake Bortles': [0.0, 0, 0, 0, 0, 11.74], 'Brandon Allen': [35.0, 56.0, 17.0, 0.0, 0, 38.2], 'Brett Hundley': [4.0, 0, 0, 0, 0, 11.74], 'Brett Rypien': [0, 15.0, 0.0, 20.0, 4.0, 11.74], 'Brian Hoyer': [29.0, 2.0, 14.0, 1.0, 5.0, 20.46], 'Brock Purdy': [0, 0, 0, 128.0, 347.0, 371.27], 'Bryce Perkins': [0, 0, 0, 15.0, 0, 23.34], 'Bryce Young': [0, 0, 0, 0, 170.0, 139.31], 'C.J. Beathard': [0, 64.0, 1.0, -1.0, 20.0, 25.7], 'C.J. Stroud': [0, 0, 0, 0, 314.0, 278.49], 'Cam Newton': [18.0, 258.0, 90.0, 0, 0, 67.97], 'Carson Wentz': [322.0, 223.0, 304.0, 128.0, 29.0, 203.09], 'Case Keenum': [125.0, 1.0, 33.0, 0.0, 11.0, 33.07], 'Chad Henne': [0, 26.0, 3.0, 0.0, 0, 18.89], 'Chase Daniel': [30.0, 12.0, 0.0, 10.0, 0, 29.13], 'Chris Streveler': [0, 9.0, 1.0, 8.0, 0, 15.31], 'Clayton Tune': [0, 0, 0, 0, 7.0, 11.74], 'Colt McCoy': [3.0, 18.0, 46.0, 31.0, 0, 27.75], 'Cooper Rush': [0, 0, 30.0, 63.0, 1.0, 25.99], 'Dak Prescott': [385.0, 152.0, 390.0, 238.0, 402.0, 402.49], 'Daniel Jones': [263.0, 198.0, 178.0, 308.0, 56.0, 105.99], 'David Blough': [59.0, 0.0, 0.0, 22.0, 0, 23.41], 'Davis Mills': [0, 0, 182.0, 208.0, 19.0, 127.77], 'Davis Webb': [0, 0, 0.0, 22.0, 0, 23.34], 'Derek Carr': [276.0, 324.0, 294.0, 258.0, 286.0, 299.85], 'Deshaun Watson': [364.0, 421.0, 0, 96.0, 98.0, 92.92], 'Desmond Ridder': [0, 0, 0, 38.0, 197.0, 150.91], 'Devlin Hodges': [57.0, 0, 0, 0, 0, 69.73], 'Dorian Thompson-Robinson': [0, 0, 0, 0, 21.0, 23.34], 'Drew Brees': [274.0, 255.0, 0, 0, 0, 290.08], 'Drew Lock': [79.0, 204.0, 54.0, 0, 33.0, 46.53], 'Dwayne Haskins': [85.0, 76.0, 0, 0, 0, 69.73], 'Easton Stick': [0, 0.0, 0, 0, 74.0, 46.53], 'Eli Manning': [66.0, 0, 0, 0, 0, 81.32], 'Gardner Minshew': [265.0, 188.0, 40.0, 41.0, 220.0, 176.76], 'Garrett Gilbert': [0.0, 15.0, 7.0, 0, 0, 11.74], 'Geno Smith': [0, 1.0, 62.0, 352.0, 262.0, 178.87], 'Ian Book': [0, 0, 1.0, 0, 0, 11.74], 'Jacob Eason': [0, 0, -1.0, 0.0, 0, 11.74], 'Jacoby Brissett': [244.0, 18.0, 78.0, 187.0, 27.0, 73.75], 'Jake Browning': [0, 0, 0, 0, 163.0, 150.91], 'Jake Fromm': [0, 0, 13.0, 0, 0, 23.34], 'Jake Luton': [0, 31.0, 0, 0, 0, 34.93], 'Jalen Hurts': [0, 113.0, 332.0, 412.0, 393.0, 224.18], 'Jameis Winston': [365.0, 2.0, 141.0, 49.0, 15.0, 40.89], 'Jared Goff': [284.0, 275.0, 227.0, 334.0, 344.0, 287.01], 'Jaren Hall': [0, 0, 0, 0, 2.0, 11.74], 'Jarrett Stidham': [-2.0, 14.0, 0, 49.0, 28.0, 34.93], 'Jeff Driskel': [63.0, 34.0, 0, 13.0, 17.0, 34.93], 'Jimmy Garoppolo': [294.0, 74.0, 260.0, 192.0, 74.0, 92.04], 'Joe Burrow': [0, 196.0, 372.0, 411.0, 170.0, 297.31], 'Joe Flacco': [94.0, 64.0, 29.0, 60.0, 125.0, 80.83], 'John Wolford': [0, 12.0, -2.0, 16.0, 0, 14.59], 'Jordan Love': [0, 0, 23.0, 12.0, 373.0, 181.96], 'Josh Allen': [318.0, 461.0, 460.0, 455.0, 438.0, 387.99], 'Josh Johnson': [0, 0, 54.0, 0.0, 0, 11.74], 'Josh McCown': [0.0, 0, 0, 0, 0, 11.74], 'Josh Rosen': [18.0, 0, -4.0, 0, 0, 11.74], 'Joshua Dobbs': [0, 2.0, 0, 26.0, 223.0, 162.51], 'Justin Fields': [0, 0, 135.0, 319.0, 250.0, 183.72], 'Justin Herbert': [0, 384.0, 442.0, 320.0, 265.0, 339.6], 'Kellen Mond': [0, 0, 0.0, 0, 0, 11.74], 'Kenny Pickett': [0, 0, 0, 152.0, 114.0, 81.32], 'Kirk Cousins': [288.0, 370.0, 357.0, 343.0, 184.0, 330.59], 'Kurt Benkert': [0, 0, 0.0, 0, 0, 11.74], 'Kyle Allen': [211.0, 50.0, 10.0, 20.0, 0.0, 80.81], 'Kyle Trask': [0, 0, 0, 0.0, 0.0, 11.74], 'Kyler Murray': [311.0, 418.0, 335.0, 222.0, 160.0, 199.04], 'Lamar Jackson': [474.0, 375.0, 262.0, 258.0, 370.0, 324.37], 'Logan Woodside': [0, 1.0, 0.0, 0, -1.0, 11.74], 'Luke Falk': [7.0, 0, 0, 0, 0, 11.74], 'Mac Jones': [0, 0, 261.0, 188.0, 121.0, 186.44], 'Malik Willis': [0, 0, 0, 16.0, 2.0, 11.74], 'Marcus Mariota': [94.0, 27.0, 12.0, 218.0, 12.0, 68.0], 'Mason Rudolph': [128.0, 22.0, 18.0, 0, 44.0, 46.53], 'Matt Barkley': [7.0, 10.0, 0, 0, 0.0, 11.74], 'Matt Moore': [49.0, 0, 0, 0, 0, 58.13], 'Matt Ryan': [311.0, 327.0, 252.0, 181.0, 0, 233.9], 'Matt Schaub': [39.0, 0.0, 0, 0, 0, 11.74], 'Matthew Stafford': [201.0, 301.0, 405.0, 126.0, 281.0, 296.43], 'Mike Glennon': [6.0, 73.0, 36.0, 0, 0, 65.51], 'Mike White': [0, 0, 53.0, 60.0, 5.0, 46.53], 'Mitchell Trubisky': [228.0, 180.0, 6.0, 75.0, 53.0, 116.22], 'Nate Sudfeld': [0, -1.0, 0, 0.0, 0, 11.74], 'Nathan Peterman': [0, 1.0, 0.0, 9.0, 0.0, 15.31], 'Nick Foles': [43.0, 119.0, 18.0, 0.0, 0, 56.65], 'Nick Mullens': [0.0, 138.0, 11.0, 12.0, 77.0, 62.82], 'Patrick Mahomes': [329.0, 439.0, 428.0, 482.0, 324.0, 396.39], 'Philip Rivers': [276.0, 281.0, 0, 0, 0, 290.08], 'Phillip Walker': [0, 9.0, 15.0, 42.0, 21.0, 30.47], 'Robert Griffin III': [13.0, 2.0, 0, 0, 0, 11.74], 'Russell Wilson': [379.0, 428.0, 281.0, 242.0, 301.0, 327.19], 'Ryan Finley': [28.0, 18.0, 0, 0, 0, 23.34], 'Ryan Fitzpatrick': [269.0, 172.0, 0.0, 0, 0, 141.75], 'Ryan Griffin': [0.0, 0, 0, 0, 0, 11.74], 'Ryan Tannehill': [261.0, 395.0, 295.0, 179.0, 82.0, 184.18], 'Sam Darnold': [221.0, 144.0, 170.0, 98.0, 26.0, 129.2], 'Sam Ehlinger': [0, 0, 0.0, 40.0, 0, 46.53], 'Sam Howell': [0, 0, 0, 19.0, 289.0, 255.29], 'Sean Clifford': [0, 0, 0, 0, 1.0, 11.74], 'Sean Mannion': [0.0, 0, 14.0, 0, 0, 23.34], 'Skylar Thompson': [0, 0, 0, 17.0, 0, 23.34], 'Taylor Heinicke': [0, 13.0, 249.0, 138.0, 73.0, 105.37], 'Taysom Hill': [91.0, 156.0, 0, 0, 132.0, 23.34], 'Teddy Bridgewater': [103.0, 262.0, 230.0, 44.0, 0.0, 118.41], 'Tim Boyle': [0.0, 0.0, 29.0, -3.0, 11.0, 22.66], 'Tom Brady': [304.0, 408.0, 454.0, 319.0, 0, 378.26], 'Tommy DeVito': [0, 0, 0, 0, 104.0, 104.52], 'Trace McSorley': [0.0, 10.0, 0, 6.0, 0, 11.74], 'Trevor Lawrence': [0, 0, 212.0, 341.0, 299.0, 260.98], 'Trevor Siemian': [0.0, 0, 108.0, 11.0, 29.0, 34.93], 'Trey Lance': [0, 0, 71.0, 11.0, 0, 11.74], 'Tua Tagovailoa': [0, 149.0, 204.0, 272.0, 318.0, 290.51], 'Tyler Bray': [0, 0.0, 0, 0, 0, 11.74], 'Tyler Huntley': [0, 1.0, 86.0, 50.0, 28.0, 44.56], 'Tyrod Taylor': [8.0, 8.0, 87.0, 13.0, 91.0, 48.85], 'Tyson Bagent': [0, 0, 0, 0, 58.0, 46.53], 'Will Grier': [0.0, 0, 0, 0, 0, 11.74], 'Will Levis': [0, 0, 0, 0, 115.0, 104.52], 'Zach Wilson': [0, 0, 163.0, 105.0, 132.0, 101.36]}

In [42]:
import json

In [43]:
json_data = json.dumps(name_fantasy_dict, indent=4)

In [44]:
with open('../Flask/static/QBYearlyPoints.json','w') as json_file:
    json_file.write(json_data)

In [ ]:
####FINAL MODEL WE USED #####

In [ ]:
X = QB.drop(['Fantasy Points'], axis=1)
y = QB['Fantasy Points']


numeric_features = ['PassingTDs']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), numeric_features),
 
    ]
)
pipeline = Pipeline([
    ('preprocessor', preprocessor),
    ('regressor', LinearRegression())
])

X_train_subset = X_train[X_train.index.year < 2023]
y_train_subset = y_train[y_train.index.year < 2023]
pipeline.fit(X_train_subset, y_train_subset)

X_test_subset = X_test[X_test.index.year == 2023]
y_test_subset = y_test[y_test.index.year == 2023]
y_pred = pipeline.predict(X_test_subset)

mse = mean_squared_error(y_test_subset, y_pred)
r2 = r2_score(y_test_subset, y_pred)

print(f"Mean Squared Error: {mse}")
print(f"R-squared: {r2}")