In [3]:
from pathlib import Path
import pandas as pd

In [9]:
Complete = Path('../excels/CompleteDataSet.csv')

In [10]:
CompleteDF = pd.read_csv(Complete)

In [11]:
CompleteDF

,Unnamed: 0,Week,Name,Position,Year,Game,Fantasy Points,PassingYards,PassingTDs,Ints,Rush Attempts,Rush Yards,Fumbles,RushTDs,Receptions,Receiving Yards,Receiving TDs
0,0,1.0,Lamar Jackson,QB,2019,BAL@MIA,42.0,324.0,5.0,0,3,6,0,0,NaN,NaN,NaN
1,1,1.0,Dak Prescott,QB,2019,NYG@DAL,41.0,405.0,4.0,0,4,12,0,0,NaN,NaN,NaN
2,2,1.0,Deshaun Watson,QB,2019,HOU@NO,36.0,268.0,3.0,1,4,40,0,1,NaN,NaN,NaN
3,3,1.0,Matthew Stafford,QB,2019,DET@ARI,34.0,385.0,3.0,0,3,22,1,0,NaN,NaN,NaN
4,4,1.0,Case Keenum,QB,2019,WAS@PHI,33.0,380.0,3.0,0,0,0,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19974,19974,17.0,Jaleel Scott,WR,2019,PIT@BAL,1.0,0.0,0.0,0,0,0,0,0,1.0,6.0,0.0
19975,19975,17.0,Sammy Watkins,WR,2019,LAC@KC,1.0,0.0,0.0,0,0,0,0,0,1.0,8.0,0.0
19976,19976,17.0,Chris Moore,WR,2019,PIT@BAL,0.0,0.0,0.0,0,1,0,0,0,0.0,0.0,0.0
19977,19977,17.0,Diontae Spencer,WR,2019,OAK@DEN,0.0,0.0,0.0,0,1,-8,0,0,0.0,0.0,0.0
19978,19978,17.0,De'Anthony Thomas,WR,2019,PIT@BAL,0.0,0.0,0.0,0,1,1,0,0,0.0,0.0,0.0

In [12]:
CompleteDF.drop('Unnamed: 0', axis=1, inplace=True)

In [13]:
print(CompleteDF.dtypes)

Week               float64
Name                object
Position            object
Year                 int64
Game                object
Fantasy Points     float64
PassingYards       float64
PassingTDs         float64
Ints                 int64
Rush Attempts        int64
Rush Yards           int64
Fumbles              int64
RushTDs              int64
Receptions         float64
Receiving Yards    float64
Receiving TDs      float64
dtype: object

In [14]:
import numpy as np

In [15]:
CompleteDF.dtypes

Week               float64
Name                object
Position            object
Year                 int64
Game                object
Fantasy Points     float64
PassingYards       float64
PassingTDs         float64
Ints                 int64
Rush Attempts        int64
Rush Yards           int64
Fumbles              int64
RushTDs              int64
Receptions         float64
Receiving Yards    float64
Receiving TDs      float64
dtype: object

In [23]:
CompleteDF['Week'] = CompleteDF['Week'].astype(str).str.rstrip('.0')

In [24]:
CompleteDF

,Week,Name,Position,Year,Game,Fantasy Points,PassingYards,PassingTDs,Ints,Rush Attempts,Rush Yards,Fumbles,RushTDs,Receptions,Receiving Yards,Receiving TDs
0,1,Lamar Jackson,QB,2019,BAL@MIA,42.0,324.0,5.0,0,3,6,0,0,NaN,NaN,NaN
1,1,Dak Prescott,QB,2019,NYG@DAL,41.0,405.0,4.0,0,4,12,0,0,NaN,NaN,NaN
2,1,Deshaun Watson,QB,2019,HOU@NO,36.0,268.0,3.0,1,4,40,0,1,NaN,NaN,NaN
3,1,Matthew Stafford,QB,2019,DET@ARI,34.0,385.0,3.0,0,3,22,1,0,NaN,NaN,NaN
4,1,Case Keenum,QB,2019,WAS@PHI,33.0,380.0,3.0,0,0,0,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19974,17,Jaleel Scott,WR,2019,PIT@BAL,1.0,0.0,0.0,0,0,0,0,0,1.0,6.0,0.0
19975,17,Sammy Watkins,WR,2019,LAC@KC,1.0,0.0,0.0,0,0,0,0,0,1.0,8.0,0.0
19976,17,Chris Moore,WR,2019,PIT@BAL,0.0,0.0,0.0,0,1,0,0,0,0.0,0.0,0.0
19977,17,Diontae Spencer,WR,2019,OAK@DEN,0.0,0.0,0.0,0,1,-8,0,0,0.0,0.0,0.0
19978,17,De'Anthony Thomas,WR,2019,PIT@BAL,0.0,0.0,0.0,0,1,1,0,0,0.0,0.0,0.0

In [39]:
CompleteDF.to_csv('CompleteDataSetWeekasString.csv')

In [27]:
CompleteDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19979 entries, 0 to 19978
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Week             19979 non-null  object
 1   Name             19979 non-null  object
 2   Position         19979 non-null  object
 3   Year             19979 non-null  int64
 4   Game             19979 non-null  object
 5   Fantasy Points   19979 non-null  float64
 6   PassingYards     19301 non-null  float64
 7   PassingTDs       19301 non-null  float64
 8   Ints             19979 non-null  int64
 9   Rush Attempts    19979 non-null  int64
 10  Rush Yards       19979 non-null  int64
 11  Fumbles          19979 non-null  int64
 12  RushTDs          19979 non-null  int64
 13  Receptions       16781 non-null  float64
 14  Receiving Yards  16781 non-null  float64
 15  Receiving TDs    16781 non-null  float64
dtypes: float64(6), int64(6), object(4)
memory usage: 2.4+ MB

In [28]:
CompleteDF['Fantasy Points'] = CompleteDF['Fantasy Points'].astype(int)

In [31]:

CompleteDF['PassingTDs'] = CompleteDF['PassingTDs'].astype(int)
CompleteDF['Receptions'] = CompleteDF['Receptions '].astype(int)
CompleteDF['Receiving Yards'] = CompleteDF['Receiving Yards'].astype(int)
CompleteDF['Receiving TDs'] = CompleteDF['Receiving TDs'].astype(int)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [36]:
CompleteDF

,Week,Name,Position,Year,Game,Fantasy Points,PassingYards,PassingTDs,Ints,Rush Attempts,Rush Yards,Fumbles,RushTDs,Receptions,Receiving Yards,Receiving TDs
0,1,Lamar Jackson,QB,2019,BAL@MIA,42,324.0,5.0,0,3,6,0,0,NaN,NaN,NaN
1,1,Dak Prescott,QB,2019,NYG@DAL,41,405.0,4.0,0,4,12,0,0,NaN,NaN,NaN
2,1,Deshaun Watson,QB,2019,HOU@NO,36,268.0,3.0,1,4,40,0,1,NaN,NaN,NaN
3,1,Matthew Stafford,QB,2019,DET@ARI,34,385.0,3.0,0,3,22,1,0,NaN,NaN,NaN
4,1,Case Keenum,QB,2019,WAS@PHI,33,380.0,3.0,0,0,0,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19974,17,Jaleel Scott,WR,2019,PIT@BAL,1,0.0,0.0,0,0,0,0,0,1.0,6.0,0.0
19975,17,Sammy Watkins,WR,2019,LAC@KC,1,0.0,0.0,0,0,0,0,0,1.0,8.0,0.0
19976,17,Chris Moore,WR,2019,PIT@BAL,0,0.0,0.0,0,1,0,0,0,0.0,0.0,0.0
19977,17,Diontae Spencer,WR,2019,OAK@DEN,0,0.0,0.0,0,1,-8,0,0,0.0,0.0,0.0
19978,17,De'Anthony Thomas,WR,2019,PIT@BAL,0,0.0,0.0,0,1,1,0,0,0.0,0.0,0.0

In [33]:
for index, row in CompleteDF.iterrows():
    if not np.isnan(row['PassingYards']):
        CompleteDF.at[index, 'PassingYards'] = int(row['PassingYards'])

In [38]:
CompleteDF.to_csv('CompleteDataSetWeekasStringANDFPTSasINT.csv')

In [ ]:
CompleteDF = CompleteDF.rename(columns={'Fantasy Points': 'FantasyPoints', 'RushA': 'New_B'})

In [ ]:
CompleteDF

In [2]:
import sqlite3

# Connect to SQLite database
conn = sqlite3.connect('FFUPDATE.db')
cursor = conn.cursor()

# Check if any rows exist in a table
cursor.execute("SELECT EXISTS (SELECT 1 FROM fantasydata LIMIT 1)")
row_exists = cursor.fetchone()[0]

if row_exists:
    print("Data exists in the database.")
else:
    print("No data found in the database.")

# Close the connection
conn.close()

No data found in the database.